/*importação da fonte personalizada icons*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/*importação do bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;
  --bg: #fffffb;
  --bg-secondary: #f8f2f4;
  --text: #000000;
  --text-secondary: #494949;
  --text-placeholder: #8b8b8b;
  --primary: #e53170;
  --secondary: #b07289;
  --actions: #f25f4c;
  --highlight: #ffffff;
  --shadow: 0px 0px 10px #e6e6e6;
  --shadow-error: 0px 0px 10px var(--actions);
}

body {
  background: var(--bg);
  height: 100vh;
  position: relative;
}

button {
  background-color: transparent;
}

body,
input,
button,
textarea {
  font-family: var(--font);
  border: none;
}

main {
  max-width: 1000px;
  padding: 1.2rem;
  margin: 0 auto;
  height: 100%;
}

button.btn {
  font-weight: 600;
  font-size: calc(0.6rem + 0.5vw);
}

.category {
  color: var(--secondary);
  font-size: calc(0.6rem + 0.5vw);
  display: inline-block;
  border-radius: 5px;
  padding: 2px 8px;
  font-weight: 600;
  background-color: var(--bg-secondary);
}

.btn.btn-default {
  background-color: var(--primary);
  color: var(--highlight);
}

.btn.btn-default:hover {
  filter: brightness(1.1);
  border: 1px solid var(--primary);
  background-color: var(--bg);
  color: var(--text);
}

.btn.btn-secondary {
  border: 1px solid var(--primary);
  background-color: var(--bg);
  color: var(--primary);
}

.btn.btn-secondary:hover {
  color: var(--text);
}

.form-control.input-default.input-error {
  box-shadow: var(--shadow-error);
  border: none;
}

label.checkbox-container {
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #f0f0ef;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--secondary);
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-radius: 1px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

input[type="checkbox"] {
  opacity: 0;
}

main h1 {
  font-weight: 700;
  font-size: calc(1rem + 1.5vw) !important;
}

h2 {
  font-weight: 600;
  font-size: calc(1rem + .9vw) !important;
}

h3 {
  font-weight: 500;
  color: var(--primary);
  font-size: calc(1rem + .6vw) !important;
}

h4 {
  margin-top: 8px !important;
  font-weight: 600 !important;
  font-size: calc(1rem + .1vw) !important;
}

.title-task {
  display: flex;
  width: 100%;
  justify-content: center;
}

form {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  gap: 10px;
}
/* VITÓRIA */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  height: 100%;
}

.img-column {
  height: 80%;
}

main h2 {
  margin: 32px 0 0 0;
}

ul {
  padding: none;
}

button.btn-add-task {
  border: none;
  background: none;
}

#div-content {
  overflow-y: auto;
}

.btn-cancel {
  outline: 1px solid #e53170;
  color: #e53170 !important;
}

.btn-cancel:hover {
  color: #000000 !important;
}

.btn-cancel:active {
  border: 1px solid #000000;
}

.img-alert-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

div h6 {
  display: flex;
  justify-content: center;
}

.modal-footer {
  justify-content: space-around !important;
}

/* Carol */

.taskList-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100wh;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 0.5);
  padding: 10px 15px;
  margin: 10px 0;
}

.task-info-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.task-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-info h5 {
  margin: 0 10px;
}

.task-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.bi-calendar-week {
  margin: 0 0 0 5px;
}

.bi-clock{
  margin: 0 0 0 5px;
}

.btnAction {
  color: var(--actions);
  background-color: var(--bg);
  padding: 5px;
}

.task-btnAction {
  flex-direction: row;
  margin-left: auto;
}

.btnAction:hover {
  cursor: pointer;
  color: var(--text);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(27%) sepia(6%) saturate(19%) hue-rotate(340deg) brightness(97%)
    contrast(90%);
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-placeholder) !important;
  opacity: 1; /* Firefox */
}

.form-control.input-default {
  box-shadow: var(--shadow);
  border: none;
  color: (--text) !important;
}

/*Amanda - alert*/


#alert-div {
  background-color: var(--highlight);
  border-left: 5px solid var(--primary);
  width: fit-content;
  position: absolute;
  right: 5px;
  top: 10px;
  display: none !important;
  z-index: 1056;
}

#alert-div.showAlert {
  display: block !important;
}

#alert-div i {
  color: var(--primary);
}

#alert-div.show {
  animation: show-slide 1s ease forwards;
}

#alert-div.hide {
  animation: hide-slide 1s ease forwards;
}

#alert-div button {
  cursor: pointer;
}

@keyframes show-slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hide-slide {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200%);
  }
}


